.logo {
  border-radius: 10px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.cropper {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
}

.cropper-container {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  bottom: 10%;
  max-width: 60%;
}

.cropper-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 10%;
  display: flex;
  align-items: center;
  background-color: white;
}

.cropper-controls:hover input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  border-radius: 50%;
}

.cropper-controls:hover input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

.cropper-zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background: black;
  width: 100%;
  margin: auto 10px;
}

.cropper-zoom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #000000;
  background: black;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.cropper-zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  background: black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
